//do Output.printInt(1 + (2 * 3));

function Main.main 1

// Initialisation des termes de l'opération
push constant 0

// Initialisation du compteur
push constant 3
pop local 0

// Entrée dans la boucle
label LOOP

	// Décrémentation du compteur
	push local 0
	push constant 1
	sub
	pop local 0

	// Vérification du compteur
	push local 0
	push constant 0
	lt

	// Si compteur < 0, on sort de la boucle
	if-goto END

	// Sinon
	push constant 2
	add

	goto LOOP

label END

push constant 1
add

call Output.printInt 1

return